.MyFilenameSpanClass {
    margin-right: 5px;
}

.hfuFileinputPrototype {
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.MyContainerDivClass {
    border: 2px solid #a4a4a4;
    border-style: dashed;
    width: 200px;
    height: 200px;
    position: relative;
}

.MyContainerDivFocusClass {
    border-color: green;
}

.MyDropHereAreaClass {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.MyDropHereTextClass {
    color: #d7d7d7;
    text-align: center;
}

.MyDropHereTextFocusClass {
    color: black;
}

.hfuSpanBtnContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 400px;
    max-height: 30px;
    margin-bottom: 2px !important;
    padding: 5px !important;
}